@model April_17_Homework_Image_Upload_w_Password.Data.Image

<div class="row">
    <div class="col-md-8 offset-md-2 bg-light p-4 rounded shadow">
        <h3>
            Thank you for uploading your images,
            here's the link to share with your friends:
            <br /><br />
            <a href="https://localhost:44329/Home/viewimage?id=@Model.Id">
                https://localhost:44329/Home/viewimage?id=@Model.Id
            </a>
            <br /><br />

            Make sure to give them the password of "@Model.Password"
        </h3>
    </div>
</div>